[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
xhtml2pdf = "*"
django-heroku = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
gunicorn = "*"
python-decouple = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
django-ckeditor = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
