{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/carousel.css'%}" />
    <link rel="stylesheet" href="{% static 'css/mobile-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/desktop-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/ckeditor-cleaning.css'%}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    {% block title %}
    <title>Shop !t - Account Created</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="success-page-container">
      <div class="success-page-content-container">
        <p>Your Shopit account has been created</p>
        <div class="success-image-container">
          <img class="success-image" src="{% static 'images/illustrations/success-illustration.png' %}" alt="" />
        </div>
        <div>Check your email to activate your account, the activation link will be invalid in the next 5 minutes</div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
