{% extends 'navs/base-nav.html' %}{% load static %} {% block title %} <title>CV Build</title>
{% endblock %} {% block content %}
<div class="home-page-container">
  <div class="flex-spc">
    <div class="home-page-contents">
      <h2 class="home-header">Build your Resume and Online Portfolio for free</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam sed culpa modi aliquid. Animi quidem hic quod
        quaerat veniam nulla qui corrupti rem ex labore, non, maiores saepe ipsa id.
      </p>
      <div class="center">
        {% if request.user.is_authenticated %}
        <a href="{% url 'Resume' personal_detail.feedback_id %}" class="btn bg-dark-btn">View Resume</a>
        {% else %}
        <a href="{% url 'register' %}" class="btn bg-dark-btn">Try For Free</a>
        {% endif %}
      </div>
    </div>
    <div class="image-container">
      <img src="{% static 'image/illustrations/cv-image.svg' %}" alt="" />
    </div>
  </div>

  <div class="flex-spc">
    <div class="image-container">
      <img src="{% static 'image/illustrations/download-cv.svg' %}" alt="" />
    </div>
    <div class="home-page-contents">
      <h2 class="inner-content-header">Download High-quality PDF for Free</h2>
      <div class="inner-content-space">
        <p>
          A great deal of effort went into making sure that your PDF looks as crisp as it gets when printed or shared.
        </p>
        <p>
          Your first resume is entirely for free and it will be free of watermarks. There are no premium-only options
          and you can download your resume for free, as many times as you like.
        </p>
      </div>
    </div>
  </div>

  <div class="flex-spc">
    <div class="home-page-contents">
      <h2 class="inner-content-header">Get Feedback/ Review</h2>
      <div class="inner-content-space">
        Ask your friends for feedback with a link & have changes updated immediately so you do not have to send a new
        version each time you change something.
      </div>
    </div>
    <div class="image-container">
      <img src="{% static 'image/illustrations/review-cv.svg' %}" alt="" />
    </div>
  </div>

  <div class="flex-spc">
    <div class="image-container">
      <img src="{% static 'image/illustrations/secured.svg' %}" alt="" />
    </div>
    <div class="home-page-contents">
      <h2 class="inner-content-header">Data Privacy and Security</h2>
      <div class="inner-content-space">
        We don't sell your data. Ever. Instead, we are GDPR-ready and let you delete all of your data in a heartbeat if
        you decide so.
      </div>
    </div>
  </div>

  <div class="flex-spc">
    <div class="home-page-contents">
      <h2 class="inner-content-header">Multiple Resumes</h2>
      <div class="inner-content-space">
        Create a version of your resume in a different language or for a different job with just a click. A
        one-size-fits-all resume is a thing of the past.
      </div>
    </div>
    <div class="image-container">
      <img src="{% static 'image/illustrations/multiple-cv.svg' %}" alt="" />
    </div>
  </div>

  <div class="flex-spc">
    <div class="image-container">
      <img src="{% static 'image/illustrations/design.svg' %}" alt="" />
    </div>
    <div class="home-page-contents">
      <h2 class="inner-content-header">Fully flexible design</h2>
      <div class="inner-content-space">
        <p>
          Being easy to use doesn't have to mean that you are forced into using a pre-made template. Make your resume
          stand out from the pack by trying different colours, fonts, headline formats and much more.
        </p>
        <p>
          Effortless editing - Whether you want to input skills, professional experience or educational history, instead
          of being thrown into cold water, we designed guided forms to help you inputting all the data necessary.
        </p>
        <p>Beautiful design made easy Format your resume with just a few clicks and reformat it easily.</p>
      </div>
    </div>
  </div>

  <div class="flex-spc">
    <div class="home-page-contents">
      <h2 class="inner-content-header">Online Portfolio/ Presence</h2>
      <div class="inner-content-space">
        Let others download your resume and present yourself online to increase the chances of getting your dream job
      </div>
    </div>
    <div class="image-container">
      <img src="{% static 'image/illustrations/online-portfolio.svg' %}" alt="" />
    </div>
  </div>

  <div class="footer">
    <h1 class="home-header">
      Do you have a feedback?
      <div class="flex-spc">
        <form action="{% url 'cvbuildfeedback' %}" method="post">
          {% csrf_token %}
          <textarea
            class="feedback-input"
            name="feedbackInput"
            id="feedbackInput"
            placeholder="Enter feedback..."
          ></textarea>

          <button type="submit" class="bg-dark-btn btn">Submit</button>
        </form>
      </div>
    </h1>
  </div>
</div>

{% endblock %}
