{% extends 'navs/head-content.html' %} {% load static %} {% block title %} <title>CV Build</title>
{% endblock %} {% block content %}

<div class="content-container">
  <div>
    <div class="content-form-container">
      <div class="content-form-detail" id="content-form-details">
        {% if personal_details.full_name %}
        <h4>{{personal_details.full_name}}</h4>
        {% else %}
        <h4 class="faint-text">Your name</h4>
        {% endif %} {% if personal_details.email %}
        <p>{{personal_details.email}}</p>
        {% else %}
        <p class="faint-text">Email</p>
        {% endif %} {% if personal_details.phone %}
        <p>{{personal_details.phone}}</p>
        {% else %}
        <p class="faint-text">Phone</p>
        {% endif %} {% if personal_details.address %}
        <p>{{personal_details.address}}</p>
        {% else %}
        <p class="faint-text">Address</p>
        {% endif %}
      </div>
      <form
        action="{% url 'person_details' %}"
        method="post"
        class="hide content-form"
        enctype="multipart/form-data"
        id="personal_details"
      >
        {% csrf_token %}
        <div class="form-top">
          <p>Edit Personal Details</p>
        </div>
        {% if messages %} {% for message in messages %}
        <small class="form-errors">{{message}}</small>
        {% endfor %} {% endif %}

        <div class="form-input-container">
          <span><label for="full_name">Full Name</label> <span class="form-required-field">*</span></span>
          <p class="form-errors">{{ personal_details_form.full_name.errors }}</p>
          {{personal_details_form.full_name}}
        </div>

        <div class="form-input-container">
          <span><label for="job_title">Job Title</label> <span class="faint-text">optional</span></span>
          <p class="form-errors">{{ personal_details_form.job_title.errors }}</p>
          {{personal_details_form.job_title}}
        </div>

        <div class="form-input-container">
          <span><label for="email">Email</label> <span class="faint-text">recommended</span></span>
          <p class="form-errors">{{ personal_details_form.email.errors }}</p>
          {{personal_details_form.email}}
        </div>

        <div class="form-input-container">
          <span><label for="phone">Phone</label> <span class="faint-text">recommended</span></span>
          <p class="form-errors">{{ personal_details_form.phone.errors }}</p>
          {{personal_details_form.phone}}
        </div>

        <div class="form-input-container">
          <span><label for="address">Address</label> <span class="faint-text">recommended</span></span>
          <p class="form-errors">{{ personal_details_form.address.errors }}</p>
          {{personal_details_form.address}}
        </div>

        <div class="form-section">
          <p>Personal Information</p>

          {% if personal_details.nationality %}
          <div class="form-input-container">
            <span><label for="nationality">Nationality</label> <span class="faint-text">recommended</span></span>
            <p class="form-errors">{{ personal_details_form.nationality.errors }}</p>
            {{personal_details_form.nationality}}
          </div>
          {% endif %} {% if personal_details.date_of_birth %}
          <div class="form-input-container">
            <span><label for="date_of_birth">Date Of Birth</label> <span class="faint-text">recommended</span></span>
            <p class="form-errors">{{ personal_details_form.date_of_birth.errors }}</p>
            {{personal_details_form.date_of_birth}}
          </div>
          {% endif %} {% if personal_details.marital_status %}
          <div class="form-input-container">
            <span><label for="marital_status">Marital Status</label> <span class="faint-text">recommended</span></span>
            <p class="form-errors">{{ personal_details_form.marital_status.errors }}</p>
            {{personal_details_form.marital_status}}
          </div>
          {% endif %} {% if personal_details.military_service %}
          <div class="form-input-container">
            <span
              ><label for="military_service">Military Service</label> <span class="faint-text">recommended</span></span
            >
            <p class="form-errors">{{ personal_details_form.military_service.errors }}</p>
            {{personal_details_form.military_service}}
          </div>
          {% endif %} {% if personal_details.driving_license %}
          <div class="form-input-container">
            <span
              ><label for="driving_license">Driving Lincense</label> <span class="faint-text">recommended</span></span
            >
            <p class="form-errors">{{ personal_details_form.driving_license.errors }}</p>
            {{personal_details_form.driving_license}}
          </div>
          {% endif %} {% if personal_details.gender_pronoun %}
          <div class="form-input-container">
            <span
              ><label for="gender_pronoun">Gender or Pronoun</label> <span class="faint-text">recommended</span></span
            >
            <p class="form-errors">{{ personal_details_form.gender_pronoun.errors }}</p>
            {{personal_details_form.gender_pronoun}}
          </div>
          {% endif %} {% if personal_details.passport_id %}
          <div class="form-input-container">
            <span><label for="passport_id">Passport or Id</label> <span class="faint-text">recommended</span></span>
            <p class="form-errors">{{ personal_details_form.passport_id.errors }}</p>
            <input
              type="text"
              name="passport_id"
              id="passport_id"
              placeholder=""
              value="{{personal_details.passport_id}}"
            />
          </div>
          {% endif %}

          <div class="click-create-form-input" id="personal-information-btn">
            {% if not personal_details.date_of_birth %}
            <span class="create-form-btn" id="date_of_birth">Date of Birth</span>
            {% endif %} {% if not personal_details.nationality %}
            <span class="create-form-btn" id="nationality">Nationality</span>
            {% endif %} {% if not personal_details.passport_id %}
            <span class="create-form-btn" id="passport_id">Passport or Id</span>
            {% endif %} {% if not personal_details.marital_status %}
            <span class="create-form-btn" id="marital_status">Marital Status</span>
            {% endif %} {% if not personal_details.military_service %}
            <span class="create-form-btn" id="military_service">Military Service</span>
            {% endif %} {% if not personal_details.driving_license %}
            <span class="create-form-btn" id="driving_license">Driving License</span>
            {% endif %} {% if not personal_details.gender_pronoun %}
            <span id="gender_pronoun">Gender or Pronoun</span>
            {% endif %}
          </div>
        </div>

        <div class="form-section">
          <p>Links</p>

          <div class="link-create-form-btn" id="links-form-container">
            {% for form in link_form %}
            <span>
              <label>{{form.label}}</label>
              {{form}}
            </span>
            {% endfor %}
          </div>
        </div>

        <div class="flex-spc-bwn">
          <button class="form-btn btn" type="button" id="content-form-cancel-btn">cancel</button>
          <button class="form-btn btn" type="submit">Save</button>
        </div>
      </form>
    </div>

    <div class="content-form-container">
      <div class="flex-spc-bwn" id="content-form-top">
        <span>Profile</span>
        <span class="material-symbols-outlined"> expand_more </span>
      </div>

      <form action="{% url 'profile' %}" method="post" class="hide content-form">
        {% csrf_token %} {{ profile_form.media }}
        <div class="form-input-container">{{ profile_form.summary }}</div>

        <div class="flex-spc-bwn">
          <button class="form-btn btn" type="button" id="content-form-cancel-btn">cancel</button>
          <button class="form-btn btn" type="submit">Save</button>
        </div>
      </form>
    </div>

    <div class="content-form-container">
      <div class="flex-spc-bwn" id="content-form-top">
        <span>Skills and Technology</span>
        <span class="material-symbols-outlined"> expand_more </span>
      </div>

      <div class="hide form-display-content">
        {% if skills %} {% for skill in skills %}
        <div id="{{skill.id}}" class="form-display-content-skills">{{skill}}</div>
        {% endfor %}
        <div class="center">
          <span class="btn bg-dark-btn" id="add-display-content-form"> Add Skill </span>
        </div>
        {% endif %}
      </div>

      <form action="{% url 'addSkill' %}" method="post" class="hide content-form">
        {% csrf_token %}
        <div class="form-input-container">
          <span><label for="skill">Skill</label> <span class="form-required-field">*</span></span>
          <p class="form-errors">{{ skill_form.skill.errors }}</p>
          <input type="text" name="skill" id="skill_name" placeholder="Enter a skill" />
        </div>

        <div class="form-input-container">
          <span><label for="information">Information</label> <span class="faint-text">recommended</span></span>
          <p class="form-errors">{{ skill_form.information.errors }}</p>
          <input type="text" name="information" id="skill_information" placeholder="Enter information" />
        </div>

        <div class="form-input-container">
          <span><label for="level">Level</label> <span class="faint-text">recommended</span></span>
          <p class="form-errors">{{ skill_form.information.errors }}</p>
          <select class="form-control" name="level" id="skill_level">
            <option value="" id="current_skill_level" class="current_value"></option>
            {% for skill in skill_levels %}
            <option value="{{ skill.pk }}">{{ skill.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="flex-spc-bwn">
          <div class="hide">
            <a href="" class="form-btn btn hide" id="content-form-delete-btn">Delete</a>
          </div>
          <div>
            <button class="form-btn btn" type="button" id="content-form-cancel-btn">cancel</button>
            <button class="form-btn btn disable" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>

    <div class="center">
      <span class="btn bg-dark-btn"> Add Content </span>
    </div>
  </div>
  <div>hey</div>
</div>
<script>
  $(document).on("click", ".form-display-content-skills", function (e) {
    const id = $(this).attr("id");
    $.ajax({
      type: "GET",
      url: "skill/" + id,
      data: {},
      success: function (json) {
        document.querySelector("#skill_name").value = json.skill_name;
        document.querySelector("#skill_information").value = json.skill_info;
        document.querySelector("#current_skill_level").innerHTML = json.skill_level;
        document.querySelector("#current_skill_level").value = json.skill_level_id;
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock %}
