{% extends 'navs/base-nav.html' %}{% load static %} {% block title %} <title>CV Build</title>
{% endblock %} {% block content %}
<div class="home-page-container">
  <div class="flex-spc">
    <div data-aos="fade-down" data-aos-duration="800" class="home-page-contents">
      <h2 class="home-header">Build your Resume and Online Portfolio for free</h2>
      <p>
        Grant yourself access to modern resume, quality PDF and a minimalist(simple) personal online portfolio/ website.
      </p>
      <div class="center" data-aos="fade-up" data-aos-duration="1500">
        {% if request.user.is_authenticated %}
        <a href="{% url 'create_resume' %}" class="btn bg-light-btn">Create Resume</a>
        {% if personal_details %}
        <a href="{% url 'Resume' personal_detail.feedback_id %}" class="btn bg-dark-btn">View Resume</a>
        {% endif %}
        {% else %}
        <a href="{% url 'register' %}" class="btn bg-dark-btn">Try For Free</a>
        {% endif %}
      </div>
    </div>
    <div class="image-container">
      <img data-aos="fade-left" data-aos-duration="1500" src="{% static 'image/illustrations/cv-image.svg' %}" alt="" />
    </div>
  </div>

  <div class="flex-spc">
    <div class="image-container">
      <img
        data-aos="fade-right"
        data-aos-duration="1500"
        src="{% static 'image/illustrations/download-cv.svg' %}"
        alt=""
      />
    </div>
    <div data-aos="fade-down" data-aos-duration="800" class="home-page-contents">
      <h2 class="inner-content-header">Download High-quality PDF for Free</h2>
      <div class="inner-content-space">
        Resumes are entirely free and free of watermarks, with crispy look and view. You can download your resume for
        free, as many times as you like.
      </div>
    </div>
  </div>

  <div class="flex-spc">
    <div data-aos="fade-down" data-aos-duration="800" class="home-page-contents">
      <h2 class="inner-content-header">Get Feedback/ Review</h2>
      <div class="inner-content-space">
        Get feedback from friends, family, colleagues e.t.c with a unique link & changes made are synchronisly updated
        immediately.
      </div>
    </div>
    <div class="image-container">
      <img
        data-aos="fade-left"
        data-aos-duration="1500"
        src="{% static 'image/illustrations/review-cv.svg' %}"
        alt=""
      />
    </div>
  </div>

  <div class="flex-spc">
    <div class="image-container">
      <img data-aos="fade-right" data-aos-duration="1500" src="{% static 'image/illustrations/secured.svg' %}" alt="" />
    </div>
    <div data-aos="fade-down" data-aos-duration="800" class="home-page-contents">
      <h2 class="inner-content-header">Data Privacy and Security</h2>
      <div class="inner-content-space">
        CVBuild is a trusted product where your personal data and information is forever safe and protected. We don't
        sell your data.
      </div>
    </div>
  </div>

  <div class="flex-spc">
    <div data-aos="fade-down" data-aos-duration="800" class="home-page-contents">
      <h2 class="inner-content-header">Multiple Resumes</h2>
      <div class="inner-content-space">
        An account is entitled to create and have more than a resume for multiple job preparation and application.
      </div>
    </div>
    <div class="image-container">
      <img
        data-aos="fade-left"
        data-aos-duration="1500"
        src="{% static 'image/illustrations/multiple-cv.svg' %}"
        alt=""
      />
    </div>
  </div>

  <div class="flex-spc">
    <div class="image-container">
      <img data-aos="fade-right" data-aos-duration="1500" src="{% static 'image/illustrations/design.svg' %}" alt="" />
    </div>
    <div data-aos="fade-down" data-aos-duration="800" class="home-page-contents">
      <h2 class="inner-content-header">Fully flexible design</h2>
      <div class="inner-content-space">
        <p>
          CVBuild is an intuitive platform which aids effortless inputing, retrieving and editing necessary information/
          data.
        </p>
        <p>Format your resume with just a few clicks and reformat it easily.</p>
      </div>
    </div>
  </div>

  <div class="flex-spc">
    <div data-aos="fade-down" data-aos-duration="800" class="home-page-contents">
      <h2 class="inner-content-header">Online Portfolio/ Presence</h2>
      <div class="inner-content-space">
        Awareness makes you a step ahead. Present yourself online to increase the chances of getting your dream job/
        occupation.
      </div>
    </div>
    <div class="image-container">
      <img
        data-aos="fade-left"
        data-aos-duration="1500"
        src="{% static 'image/illustrations/online-portfolio.svg' %}"
        alt=""
      />
    </div>
  </div>

  <div class="footer center">
    <h1 class="home-header" data-aos="fade-up" data-aos-duration="800">Do you have a feedback?</h1>
    <div>
      <form action="{% url 'cvbuildfeedback' %}" method="post" class="home-form">
        {% csrf_token %}
        <div>
          <textarea
            class="feedback-input"
            name="feedbackInput"
            id="feedbackInput"
            placeholder="Enter feedback..."
          ></textarea>
        </div>

        <div>
          <button type="submit" class="bg-dark-btn btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
