{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  <link rel="stylesheet" href="{% static 'css/mobile-view.css'%}" />
  <link rel="stylesheet" href="{% static 'css/desktop-view.css'%}" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
   {% block title %}<title>Shop !t - 500 Error</title> {% endblock %} {% block content %}
</head>
<body>
<div class="error-page-container">
  <div class="error-page-content-container">
    <p>500</p>
    <div class="success-image-container">
      <img class="error-image" src="{% static 'images/error-images/500.png' %}" alt="" />
    </div>
    <div class="error-page-content">
      <p>Ooops... Somthing went wrong</p>
      <a href="/">Return to Hompage</a>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>