{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Resume</title>
</head>
<body>
{% block content %}
<div style="margin-top: 20px;">
    {% if person %}
<div style="margin-bottom: 60px;" class="row">
    <div class="col">
    <ul style="list-style: none; padding: 0;">
            {% for a_person in person %}
            <h2 style="display: inline-block;"><li>{{ a_person }}</li></h2>
            <p style="font-size: 20px;"> {{ a_person.occupation }}</p>
    

            <a href="{% url 'edit_user' a_person.pk %}"><span class="material-icons">mode_edit</span</a>
            <a href="{% url 'delete_user' a_person.pk %}"><span class="material-icons">delete</span></a>

    </ul>
</div>
    <div class="col">

            <div style="margin-left: 20px;">
            <a style="color: black;" href="{{ a_person.site }}">{{ a_person.site }}</a><br>
            {{a_person.location}}<br>
            {{a_person.email }}<br>
            {{ a_person.mobile_number }}
            </div>          
    </div>
            <h5 style="margin-top: 15px;">About Me Summary</h5>
            <div style="width: 500px; margin-right: 700px;">
             {{ a_person.summary }}
            </div>
</div>
{% endfor %}
{% else %}
<h3 style="margin-bottom: 50px;">Add <a href="{% url 'create_user' %}">Profile</a></h3>
{% endif %}
</div> 

<div class="row"> 
    <div class="col">

                <h3 style="margin-bottom: 20px;">Skills<a href="{% url 'create_skills'%}"><span class="material-icons">add</span></a></h3>
<ul>
    {% for a_skill in skills %}
   <li><h5 style="display: inline-block;">{{ a_skill }}</h5>
    <a href="{% url 'edit_skills' a_skill.pk  %}"><span class="material-icons">mode_edit</span></a>   
    <a href="{% url 'delete_skills'  a_skill.pk %}"> <span class="material-icons">delete</span></a>
</li>
    {% endfor %}
</ul>

        <h3 style="margin-bottom: 20px;">Experience<a href="{% url 'create_experience'%}"><span class="material-icons">add</span></a></h3>
<ul>
    {% for an_experience in experience %}

    <li style="padding-right: 50px;"><h5 style="display: inline-block;">{{ an_experience }} - </h5> {{ an_experience.company_location }}</li>

    <a href="{% url 'edit_experience' an_experience.pk %}"><span class="material-icons">mode_edit</span></a>
    <a href="{% url 'delete_experience' an_experience.pk %}"> <span class="material-icons">delete</span></a>
            
    <p style="margin-bottom: 3px; font-weight: 500;">{{ an_experience.post_held }}</p>
    <small>{{an_experience.year_from|date:"M, Y" }} - {% if an_experience.year_to is none %}Ongoing{% else %} {{ an_experience.year_to|date:"M, Y" }} {% endif %}</small>
    <div style="padding-right: 50px; margin-top: 15px; margin-bottom: 30px;">
        {{ an_experience.info }}
    </div>
    {% endfor %}
</ul>


<h3 style="margin-bottom: 20px;">Projects<a href="{% url 'create_project'%}"><span class="material-icons">add</span></a></h3>
<ul>
    {% for project in projects %}
    <li style="padding-right: 50px;"><h5>{{ project }}</h5></li>
    <a href="{% url 'edit_project' project.pk %}"><span class="material-icons">mode_edit</span></a>
    <a href="{% url 'delete_project' project.pk %}"> <span class="material-icons">delete</span></a>

    <p><a href="{{project.source_code}}"><b>Source Code</b></a>
    <a href="{{project.live}}"><b>Live</b></a></p>
    <div style="padding-right: 50px; margin-top: 15px; margin-bottom: 30px;">
        {{ project.info }}
    </div> 
    {% endfor %}
</ul>


    </div>

    

    <div class="col">

<h3 style="margin-bottom: 20px;">Education<a href="{% url 'create_education'%}"><span class="material-icons">add</span></a></h3>
<ul>
    {% for an_education in education %}
    <li><h5 style="display: inline-block;">{{ an_education }}  -</h5> {{an_education.school_location }}</li>
    
    <a href="{% url 'edit_education' an_education.pk %}"><span class="material-icons">mode_edit</span></a>
    <a href="{% url 'delete_education' an_education.pk %}"> <span class="material-icons">delete</span></a>

    <p style="margin-bottom: 3px; font-weight: 500;">{{ an_education.degree }}</p>
    <small>{{an_education.year_from|date:"M, Y" }} - {% if an_education.year_to is none %}Ongoing{% else %} {{ an_education.year_to|date:"M, Y" }} {% endif %}</small>
    <div style="padding-right: 50px; margin-top: 15px; margin-bottom: 30px;">
        {{ an_education.info }}
    </div> 
    {% endfor %}
</ul>




        <h3 style="margin-bottom: 20px; margin-top: 40px; ">Awards<a href="{% url 'create_award'%}"><span class="material-icons">add</span></a></h3>

<ul>
    {% for a_award in awards %}
    <li><h5  style="display: inline-block;">{{ a_award }}</h5>

    <a href="{% url 'edit_award' a_award.pk  %}"><span class="material-icons">mode_edit</span></a>   
    <a href="{% url 'delete_awards' a_award.pk %}"><span id="delete-icon" class="material-icons">delete</span></a>

    </li>
    {% endfor %}
</ul>




        <h3 style="margin-bottom: 20px; margin-top: 40px;">Volunteering<a href="{% url 'create_volunteer' %}"><span class="material-icons">add</span></a></h3>

<ul>
{% for a_volunteer in volunteer %}
<li><h5  style="display: inline-block;">{{ a_volunteer }}</h5></li>
  <a href="{% url 'edit_volunteer' a_volunteer.pk %}"><span class="material-icons">mode_edit</span></a>   
  <a href="{% url 'delete_volunteer' a_volunteer.pk %}"><span id="delete-icon" class="material-icons">delete</span></a>

  <p style="margin-bottom: 3px; font-weight: 500;">{{ a_volunteer.organization }}</p>
  <small>{{a_volunteer.year_from|date:"M, Y" }} - {% if a_volunteer.year_to is none %}Ongoing{% else %} {{ a_volunteer.year_to|date:"M, Y" }} {% endif %}</small>
  <div style="padding-right: 50px; margin-top: 15px; margin-bottom: 30px;">
        {{ a_volunteer.info }}
    </div>
{% endfor %}
</ul>

    </div>
</div>


{% endblock %}
</body>
</html>

