<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .section{
            border-bottom: 3px solid black;
            width: 90%;
        }

        .material-icons{
            font-size: 15px;
        }
    </style>
    <title>Document</title>
</head>
<body>
<div class="container" style="margin-top:45px;">
    {% if person %}
    {% for a_person in person %}
        <ul style="list-style: none; padding: 0;">
            <h2 style="font-size: 40px; font-weight: 700;"><li>{{ a_person }}</li></h2>
            <p style="font-size: 25px; font-weight: 600;"> {{ a_person.occupation }}</p>
        </ul>


        <table>
            <tr>
              <th style="padding-right: 80px;">{{ a_person.mobile_number }}</th>
              <th style="padding-right: 80px;">{{a_person.email }}</th>
              <th style="padding-right: 80px;">{{a_person.location}}</th>
              <th><a href="{{ a_person.site }}">{{ a_person.site }}</a></th>
            </tr>
          </table>

          <h3 class="section"  style=" margin-top: 20px;">SUMMARY</h3>
                    <div style="width: 100%; margin-bottom: 20px;">
                     <p style="font-size: 20px;">{{ a_person.summary }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}

        <table>
            <tr>
              <th>
                <div>

                    {% if education %}
                    <h3 class="section"  style= "margin-bottom: 20px; margin-top: 50px;">Education</h3>
                    <ul>
                        {% for an_education in education %}
                        <li><h5 style="display: inline-block;">{{ an_education }}  -</h5> {{an_education.school_location }}</li>
                        
                        <p style="margin-bottom: 3px; font-weight: 500;">{{ an_education.degree }}</p>
                        <small>{{an_education.year_from }} - {{ an_education.year_to }}</small>
                        <div style="padding-right: 50px; margin-top: 15px; margin-bottom: 30px;">
                           <p>{{ an_education.info }}</p>
                        </div> 
                        {% endfor %}
                    </ul>
                    {% endif %}
                       
        
                </div>

                <div>
                    {% if skills %}
        
                    <h3 class="section" style="margin-bottom: 20px; margin-top: 20px;">SKILLS</h3>
                    <p><b>LANGUAGES AND TOOLS</b></p>
                    {% for a_skill in skills %}
                    <ul>         
                        <li>
                        <h5> {{ a_skill }}</h5>
                        </li>           
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>

                <div>
                    {% if projects %} 
                    <h3 class="section" style="margin-bottom: 20px;">Projects</h3>
                    <ul>
                    {% for project in projects %}
                    <li style="padding-right: 50px;"><h5>{{ project }}</h5></li>
                        <p style="display: inline-block;"><a style="padding-right: 10px;" href="{{project.source_code}}">Source Code</a></p>
                        <p style="display: inline-block;"><a href="{{project.live}}">Live</a></p>
                        <div style="padding-right: 50px; margin-bottom: 30px;">
                            <p>{{ project.info }}</p>
                        </div> 
                        {% endfor %}
                    </ul>
                    {% endif %}

                </div>
               

              </th>


              <th>
                <div>
                    {% if experience %}
        
                    <h3 class="section" style="margin-bottom: 20px; margin-top: 20px;">Experience</h3>
                    <ul>
                        {% for an_experience in experience %}
                    
                        <li style="padding-right: 50px;"><h5 style="display: inline-block;">{{ an_experience }} - </h5> {{ an_experience.company_location }}</li> 
                                
                        <p style="margin-bottom: 0px; font-weight: 500;">{{ an_experience.post_held }}</p>
                        <small>{{ an_experience.year_from }} - {{ an_experience.year_to }}</small>
                        <div style="padding-right: 50px; margin-top: 15px; margin-bottom: 30px;">
                            <p>{{ an_experience.info }}</p>
                        </div>
                        {% endfor %}
                    </ul>
        
                    {% endif %}
                </div>


                <div>
                    {% if awards %}
                    <h3 class="section">Awards</h3>
        
                    <ul>
                        {% for a_award in awards %}
                        <li><h5>{{ a_award }}</h5></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>


                <div>
                    {% if volunteer %}
                    <h3 class="section" style="margin-bottom: 20px; margin-top: 20px;">Volunteering</h3>
        
                    <ul>
                        {% for a_volunteer in volunteer %}
                        <li><h5  style="display: inline-block; margin-bottom: 0;">{{ a_volunteer }}</h5></li>
                        
                          <p style="margin-bottom: 3px; font-weight: 500; margin-top: 0;">{{ a_volunteer.organization }}</p>
                          <small>{{ a_volunteer.year_from }} - {{ a_volunteer.year_to }}</small>
                          <div style="padding-right: 50px; margin-top: 15px; margin-bottom: 30px;">
                                <p>{{ a_volunteer.info }}</p>
                            </div>
                        {% endfor %}
                        </ul>
        
                    {% endif %}
                </div>

                
              </th>
            </tr>
      </table>

</div>
</body>
</html>

        
        
                    






                    






                    
