{% extends 'base.html' %} {% block content%}
<!DOCTYPE html>
<html>
  <head>
    <title>HTML Tp PDF</title>

    <style>
      .card {
        background-color: #333;
        width: 500px;
        height: 400px;
        color: #fff;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        display: block;
      }

      .btn.btn-sm {
        background-color: #fff;
		margin: 4px;
      }

      @media all and (max-width: 550px) {
        .card {
          width: 95%;
		  height: 100%;
        }
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md"></div>

        <div class="col-md">
          <div class="card card-body">
            <div class="text-center">
              <h3>Your Resume and Portfolio is Set.</h3>
              <br /><br />
              <p>You resume has been created. You can have a preview before downloading.</p>
              <div style="margin-top: 20px">
                <a class="btn btn-sm" href="{% url 'resume_preview' %}" target="_blank">Resume Preview</a>
                <a class="btn btn-sm" href="{% url 'download_resume' %}">Download Resume</a>
              </div>
              <br />
              <div style="margin-top: 20px;">
                <p>A portfolio has also been created for you, check it out.</p>
                <a class="btn btn-sm" href="{% url 'portfolio' user %}" target="_blank">My Portfolio</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md"></div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
