{% extends 'base.html' %}
{% block content %}
<br>
    <h2 style="text-align:center;">Welcome to Resume Builder</h2>

    <div style="font-weight:500 ; font-size: larger; text-align: center; margin-top: 50px;">
        Build up your resume and get a generated link for a portfolio-resume and your resume.pdf
    </div>

    <div style="text-align: center; margin-top: 50px;"><a style="margin-right: 2%" class="btn btn-secondary" href="{% url 'login' %}">Log in</a>  <a style="margin-left: 2%;" class="btn btn-secondary" href="{% url 'register' %}">Sign Up</a></div>
{% endblock %}