<div class="side-nav">
  <span class="base-sidenav">
    <div class="side-nav-content">
      <div>CV Build</div>
    </div>
    <div class="side-nav-content" id="content-nav">
      <span class="material-symbols-outlined"> description </span>
      <div>Content</div>
    </div>
    <div class="side-nav-content" id="customize-nav">
      <span class="material-symbols-outlined"> edit_note </span>
      <div>Customize</div>
    </div>
    <div class="side-nav-content" id="check-nav">
      <span class="material-symbols-outlined"> priority </span>
      <div>Check</div>
    </div>
    <div class="side-nav-content" id="myresumes-nav">
      <span class="material-symbols-outlined"> notes </span>
      <div>My Resumes</div>
    </div>
  </span>
  <div class="resume-pop-up hide">
    {% if userResumes.count > 1 %} {% for resume in userResumes %}
    <div class="resume-list-container">
      <a href="{% url 'Resume' resume.feedback_id %}">{{resume.resume_name}}</a>
      {% if userResumes.count > 1 %}
      <a href="{% url 'deleteResume' resume.feedback_id %}"
        ><span class="material-symbols-outlined icon-pointer danger"> delete </span></a
      >
      {% endif %}
    </div>
    {% endfor %} {% else %} <div class="resume-list-container">Nil</div> {% endif %}
  </div>
</div>
