<div>
  <span class="base-sidenav">
    <div>
      <div>CV Build</div>
    </div>
    <div>
      <span class="material-symbols-outlined"> description </span>
      <div>Content</div>
    </div>
    <div>
      <span class="material-symbols-outlined"> edit_note </span>
      <div>Customize</div>
    </div>
    <div>
      <span class="material-symbols-outlined"> priority </span>
      <div>Check</div>
    </div>
    <div>
      <span class="material-symbols-outlined"> notes </span>
      <div>My Resumes</div>
    </div>
  </span>
</div>
