<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/home-page.css'%}" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% block title %}
    <title>CV Build</title>
    {% endblock %}
  </head>
  <body>
    <nav>
      <div class="nav">
        <span><a href="/">CV Build</a></span>

        <span id="nav-links" >
          {% if request.user.is_authenticated %}
          <span><a href="{% url 'user_profile' %}" class="btn bg-light-btn">Settings</a></span>
          {% else %}
          <span><a href="{% url 'register' %}" class="btn bg-light-btn">Try for free</a></span>

          {% endif %} {% if request.user.is_authenticated %}
          <span><a href="{% url 'logout' %}" class="btn bg-dark-btn">Log Out</a></span>
          {% else %}
          <span><a href="{% url 'login' %}" class="btn bg-dark-btn">Login</a></span>
          {% endif %}
        </span>

        <div id="toogle"></div>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
  <script src="{% static 'js/script.js' %}"></script>
</html>
