<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="shortcut icon" href="{% static 'image/illustrations/favicon.png' %}" type="image/x-icon">

    <meta
      name="description"
      content="CVBuild - Build your Resume and Online Portfolio for free."
    />
    <meta name="author" content="CVBuild" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="CVBuild" />
    <meta
      itemprop="description"
      content="CVBuild - Build your Resume and Online Portfolio for free."
    />
    <meta itemprop="image" content="https://www.chryzcode.dev/images/my-website-project.png"/>
    <meta name="robots" content="index, follow" />
    <meta
      name="keywords"
      content="CVBuild, Resume, Portfolio, CV, Free Resume, Free CV"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://cv-build.onrender.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="CVBuild" />
    <meta
      property="og:description"
      content="CVBuild - Build your Resume and Online Portfolio for free."
    />
    <meta property="og:image" content="{% static 'image/illustrations/favicon.png' %}" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="CVBuild" />
    <meta name="twitter:description" content="CVBuild - Build your Resume and Online Portfolio for free." />
    <meta name="twitter:image" content="{% static 'image/illustrations/favicon.png' %}" />
    
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Fengyuan Chen's Datepicker -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
      integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
      integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k="
      crossorigin="anonymous"
    ></script>
    {% block title %}
    <title>CV Build</title>
    {% endblock %}
  </head>
  <body>
    {% include 'navs/base-side-nav.html' %}
    {% if messages %}
        <div class="success-notification">
        {% for message in messages %} {% if message %}
        <div class="error-container">
          <ul class="errors">
            <li>{{message|capfirst}}</li>
          </ul>
        </div>
        {% endif %} {% endfor %}
      </div>
      {% endif %}
    <div class="container">
      <div class="download-pdf-nav">
        <span class="base-nav-icon-seg">
          
         <span>
           <a href="/"><span class="material-symbols-outlined"> arrow_back </span></a>
         </span>
       
        <span>{{personal_detail.resume_name}}</span>
        </span>
        <div>
          <a
            href="{% url 'DownloadPdf' personal_detail.pk %}"
            class="btn bg-dark-btn flex-spc-bwn"
            id="download-pdf-btn"
            ><span>Download</span> <span class="material-symbols-outlined"> file_download </span></a
          >
        </div>
      </div>

      {% block content %} {% endblock %}
    </div>
  </body>
  <script src="{% static 'js/script.js' %}"></script>
</html>
