<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
     <!-- Fengyuan Chen's Datepicker -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
      integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
      integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k="
      crossorigin="anonymous"
    ></script>
    {% block title %}
    <title>CV Build</title>
    {% endblock %}
  </head>
  <body>
    {% include 'navs/base-side-nav.html' %}
    <div class="container">
      {% if messages %}
      <div class="error-top-modal">
        <h3>Error !!!</h3>
        {% for message in messages %} {% if message %}
        <div class="error-container">
          <ul class="errors">
            <li>{{message|capfirst}}</li>
          </ul>
        </div>
        {% endif %} {% endfor %}
      </div>
      {% endif %}

      <div class="download-pdf-nav">
        <span>{{personal_detail.resume_name}}</span>
        <a target="_blank" rel="noopener noreferrer" href="{% url 'ViewPdf' personal_detail.pk %}" class="btn bg-dark-btn flex-spc-bwn"
          id="download-pdf-btn"><span>Download</span> <span class="material-symbols-outlined"> file_download </span></a
        >
      </div>

      {% block content %} {% endblock %}
    </div>
  </body>
  <script src="{% static 'js/script.js' %}"></script>
</html>
