* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #f3f4f6;
  margin-bottom: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #200e32;
  font-size: 20px;
}

.container {
  width: 100%;
  display: block;
  /* overflow: scroll; */
}

.btn {
  width: max-content;
  padding: 15px 20px;
  height: 50px;
  text-decoration: none;
  border-radius: 30px;
  margin: 0 15px;
  cursor: pointer;
  outline: 0;
  border: 0;
  display: inline-flex;
  align-items: center;
  margin: 5px auto;
}

.bg-dark-btn {
  color: #fff;
  background-color: #200e32;
}

.bg-light-btn {
  box-shadow: rgb(201, 201, 201) 0px 1px 2px 1px;
  color: #200e32;
}

#download-resume-icon {
  font-size: 35px;
  color: #200e32;
}

.hide {
  display: none !important;
}

form {
  margin: 0 auto;
  padding: 50px 30px;
  border-radius: 10px;
}

.auth-form {
  width: 500px;
}

.form-input-container {
  margin: 30px 0;
  position: relative;
}

.form-input-container > span {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
}

.form-input-container > span > span {
  font-size: 12px;
  align-items: center;
  display: flex;
}

.form-input-container > span > label,
.flex-spc-bwn > label {
  color: #200e32;
}

.form-input-container input,
.form-input-container select,
.input-text-link-label,
.copy-resume-feedback-link input {
  width: 100%;
  outline: 0;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #e0e0e0;
  border: 0;
  margin: 5px 0;
}

.copy-resume-feedback-link > button {
  outline: 0;
  background-color: #200e32;
  color: #ffffff;
  border: 0;
  padding: 5px;
  border-radius: 9px;
  cursor: pointer;
  margin: 0;
}

.form-input-container > input:hover,
.form-input-container > input:focus-within,
.form-input-container > select:hover,
.form-input-container > select:focus-within,
.search-input:hover,
.search-input:focus-within {
  box-shadow: #9f9c9c 0px 1px 2px 1px;
}

.flex-spc-bwn > * > * {
  display: inline-block;
  margin: 5px auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input[type="checkbox"]:hover,
input[type="checkbox"]:focus-within {
  box-shadow: none;
}
.form-required-field,
.danger {
  color: #a51b1b;
}

.form-btn {
  margin-left: auto;
  color: #200e32;
  border: 1px solid #200e32;
  background-color: white;
  border-radius: 0;
}

.flex-spc-bwn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-spc-bwn > * {
  margin: 0 5px;
}

.flex-spc-bwn > span:first-child {
  align-items: center;
  display: flex;
  font-size: 19px;
}

.flex-spc-bwn > * > * {
  display: inline-block;
  margin: 5px auto;
}

.flex-spc-bwn > button {
  margin: 20px 0;
}

.center {
  align-items: center;
  text-align: center;
  margin: 20px auto;
}

.form-btn:hover {
  color: white;
  border: 0;
  background-color: #200e32;
}

.form-top {
  text-align: center;
}

.form-top > p {
  color: #200e32;
  font-size: 30px;
  margin-bottom: 20px;
}

.form-bottom {
  margin: 20px 0;
  text-align: center;
}

.form-bottom > a {
  color: #200e32;
}

.error-top-modal {
  position: absolute;
  width: 400px;
  background-color: white;
  z-index: 1207;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin-bottom: 70px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: rgb(201, 201, 201) 0px 1px 2px 1px;
  height: max-content;
}

.error-container {
  margin: 15px;
  /* padding-left: 15px; */
}

.errors {
  font-size: 15px;
  padding: 5px 0 5px 0;
  display: inline-block;
}

.errorlist {
  list-style: none;
  color: #a51b1b;
  text-align: center;
  text-transform: uppercase;
  font-size: 15;
  margin: 10px 0;
}

.errorlist > li > :first-child {
  margin-left: 5px;
  display: block;
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
}

.errors {
  list-style: none;
}

.form-errors {
  list-style: none !important;
  color: #a51b1b !important;
  text-align: center !important;
}

.base-sidenav {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: fixed;
  overflow: hidden;
  padding: 10px 20px;
  background: #fff;
  will-change: transform;
  box-shadow: 0 0.125rem 9.375rem rgb(90 97 105 / 10%), 0 0.25rem 0.5rem rgb(90 97 105 / 12%),
    0 0.9375rem 1.375rem rgb(90 97 105 / 10%), 0 0.4375rem 2.1875rem rgb(165 182 201 / 10%);
  width: auto;
  margin: 20px 40px;
  justify-content: space-around;
  text-align: center;
}

.base-sidenav > * {
  color: #200e32;
}

.base-sidenav span {
  font-size: 40px;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  padding: 10px 40px;
}

.download-pdf-nav {
  box-shadow: #c9c9c9 0px 1px 2px 1px;
  padding: 30px 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
  margin: 5px auto;
  position: fixed;
}

.content-form-container {
  box-shadow: rgb(201, 201, 201) 0px 1px 2px 1px;
  margin: 20px 0;
  padding: 20px 10px;
  text-decoration: none;
  border-radius: 10px;
  background-color: white;
  overflow-y: scroll;
}

.content-form-container > div:hover {
  cursor: pointer;
}

.content-form-detail > * {
  padding: 5px 0;
}

.faint-text {
  color: #9f9c9c;
}

.content-form > .form-top > p,
.form-section > p {
  font-size: 20px;
  text-align: left;
}

.content-form .form-input-container > span > label,
input[type="checkbox"] label,
.flex-spc-bwn > label {
  font-size: 16px;
}

.form-section {
  margin: 20px 0;
}

.click-create-form-input {
  margin: 10px 0;
}

.click-create-form-input > span {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 5px;
  padding: 5px;
  background-color: #e0e0e0;
  color: #200e32;
  width: max-content;
  cursor: pointer !important;
}

.link-create-form-btn {
  height: 200px;
  overflow-y: scroll;
}

.link-create-form-btn label {
  background-color: #e0e0e0;
  color: #200e32;
  padding: 5px;
  display: inline-flex;
  margin: 5px 5px;
  width: max-content;
  cursor: pointer;
}

.link-create-form-btn input {
  width: 100%;
  height: 40px;
  outline: 0;
  padding: 25px 20px;
  border-radius: 10px;
  background-color: #e0e0e0;
  border: 0;
  margin: 5px 0;
  display: none;
}

textarea {
  width: 100%;
  height: 400px;
  outline: 0;
  border: 0;
  box-shadow: rgb(201, 201, 201) 0px 1px 2px 1px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 10px 0;
  padding: 25px;
}

.icon-pointer {
  cursor: pointer;
}

.active {
  display: block !important;
}

.form-display-content-container {
  margin: 10px 0;
}

.content-container > div {
  height: 80vh;
  overflow-y: scroll;
  padding: 0 20px;
  will-change: transform;
  margin: 100px auto 0 auto;
  width: 100%;
}

.content-container > div::-webkit-scrollbar,
.link-create-form-btn::-webkit-scrollbar,
.content-form-container::-webkit-scrollbar,
.resume-pop-up::-webkit-scrollbar,
#add-content-modal::-webkit-scrollbar {
  display: none;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed !important;
}

.cancel-readonly-input {
  position: absolute;
  color: #9f9c9c;
  right: 0;
  padding: 10px;
  top: 40%;
  cursor: pointer;
}

.form-display-content {
  margin: 5px 0;
  border-bottom: 5px solid #f2f3f5;
  padding: 10px 10px;
}

.search-input {
  width: 100%;
  padding: 10px 10px;
  margin: 15px 0;
  border-radius: 9px;
  outline: 0;
  border: 0;
  box-shadow: rgb(201, 201, 201) 0px 1px 2px 1px;
}

#content-form-top {
  color: #200e32;
  font-size: 19px;
  font-weight: 550;
}

.form-display-content {
  color: #200e32;
}

.form-display-content > span > span:first-child {
  font-size: 20px;
  font-weight: 400;
}

.input-text-link-label {
  text-align: center;
  width: max-content;
  cursor: pointer;
  padding: 8px;
  margin: 5px;
}

.wrap {
  flex-wrap: wrap;
}

#add-content-modal {
  position: absolute;
  width: 80%;
  height: 80vh;
  background-color: white;
  z-index: 1207;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin-bottom: 70px;
  padding: 30px;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: rgb(201, 201, 201) 0px 1px 2px 1px;
}

#add-content-modal > div {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 20px 0;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.add-modal-content {
  background-color: #f3f4f6;
  border-radius: 7px;
  padding: 25px 15px;
  cursor: pointer;
}

.add-modal-content:hover {
  background-color: #d3d3d3;
  transform: scale(1.02);
}

.overlay {
  filter: blur(1.5px);
  opacity: 0.4;
}

.add-modal-content > p {
  margin: 15px 0;
  font-size: 15px;
}

.resume-pop-up {
  position: absolute;
  width: 400px;
  height: auto;
  background-color: #f3f4f6;
  z-index: 1207;
  bottom: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  padding: 20px 10px;
  overflow-y: scroll;
  border-radius: 9px;
  max-height: 80vh;
}

.resume-list-container {
  display: inline-flex;
  width: 100%;
  box-shadow: rgb(201, 201, 201) 0px 1px 2px 1px;
  margin: 10px 0;
  padding: 20px 10px;
  text-decoration: none;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
}

.resume-list-container a {
  text-decoration: none;
  color: #200e32;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #200e32;
  font-weight: 500;
}

.side-nav-content:hover {
  cursor: pointer;
}

#check-nav-content .feedback-container {
  cursor: default;
  background-color: #e0e0e0;
}

#check-nav-content,
.feedback-container > div {
  cursor: default;
}

.feedback-container > div > span:first-child {
  color: #200e32;
  font-size: 17px;
}

.feedback-container > p {
  margin: 5px 0;
  padding: 0 7px;
  font-size: 14px;
}

#check-nav-content > div > div {
  margin: 25px 0;
}

.a-tag-btn {
  display: inline-flex !important;
  align-items: center;
  height: 30px;
}

#toogle {
  display: none;
}

.error-page-container,
.success-page-container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.success-page-content-container > p {
  font-size: 35px;
  margin: 15px;
  font-weight: lighter;
}

.success-page-content-container > div {
  font-size: 25px;
  margin-top: 60px;
}

.success-image-container {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.error-image,
.success-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(90deg);
  animation: rotate 5s linear forwards infinite;
}

.error-page-content-container > p {
  font-size: 70px;
  font-weight: 590;
  margin: 15px;
}

.error-page-content {
  margin-top: 40px;
}

.error-page-content > p {
  font-size: 30px;
  font-weight: 400;
}

.error-page-content > a {
  display: block;
  font-size: 18px;
  color: #3d5170;
  margin: 20px 0;
}

.error-page-content > a:hover {
  color: #6b69f8;
  transition: all 1.01s ease-in-out;
}

.base-nav-icon-seg > span:first-child {
  display: none;
}

.input-text-link-input {
  padding: 10px 10px !important;
}

.mobile-download-nav {
  display: none;
}

.zindex-style {
  z-index: 10;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media all and (max-width: 950px) {
  .content-container {
    grid-template-columns: 1fr;
  }

  .content-container > div {
    margin: 80px auto 40px auto;
  }

  .review-pdf-template {
    display: none;
  }

  .base-sidenav {
    margin: 10px 20px;
    padding: 10px 20px;
  }

  .download-pdf-nav {
    margin: 5px 60px 5px auto;
    /* width: max-content; */
  }

  /* #add-content-modal {
    height: 100vh;
    top: 50%;
  } */

  .resume-pdf-container {
    display: none;
  }

  .error-image-container,
  .success-page-container {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
}

@media all and (max-width: 650px) {
  /* .sidenav {
    display: none;
  } */

  .base-nav-icon-seg {
    display: flex;
  }

  .mobile-download-nav {
    display: block;
  }

  .base-nav-icon-seg > span:first-child {
    display: inline-block;
    margin-right: 7px;
  }

  .base-nav-icon-seg > span:first-child span {
    color: #200e32;
  }

  .resume-pop-up {
    margin: 0 auto;
    width: 100%;
  }

  .base-sidenav {
    /* display: none; */
    position: fixed;
    bottom: 30px;
    right: 0;
    z-index: 1;
    background: none;
    box-shadow: none;
    justify-content: unset;
    /* width: 60px; */
  }

  .base-sidenav > div {
    margin: 5px 0;
  }

  .content-container {
    margin: 0 auto;
  }

  .base-sidenav > div > div {
    display: none;
  }

  .base-sidenav span {
    font-size: 40px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
  }

  form {
    padding: 30px 20px;
  }

  #download-pdf-btn > span:first-child {
    display: none;
  }

  .flex-spc-bwn > span > span:last-child {
    display: none;
  }

  #add-display-content-form > span:last-child,
  #add-content-btn > span:last-child {
    display: none;
  }

  .content-container {
    padding: 10px;
  }

  .download-pdf-nav {
    display: none !important;
    margin: 5px 30px 5px auto;
  }

  .content-container > div {
    margin-top: 50px;
  }

  .base-sidenav span {
    color: #200e32;
  }

  .error-top-modal {
    width: 80%;
    padding: 10px;
  }

  .nav {
    padding: 50px 30px;
    display: block;
  }

  #nav-links {
    display: none;
  }

  #nav-links.active {
    display: block;
    margin-top: 50px;
  }

  #nav-links > span {
    display: block;
    margin-top: 20px;
    text-align: right;
  }

  #toogle {
    position: absolute;
    top: 65px;
    right: 20px;
    width: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }

  #toogle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: #200e32;
    transform: translateY(-5px);
    transition: 0.2s;
  }

  #toogle::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: #200e32;
    transform: translateY(5px);
    transition: 1s;
  }

  #toogle.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #toogle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  .auth-form {
    width: 80%;
  }

  .error-page-container,
  .success-page-container {
    width: 90%;
  }
}

@media all and (max-width: 450px) {
  .content-container {
    /* padding: 10px 15px; */
    width: 100%;
    padding: 0;
  }

  .download-pdf-nav {
    margin: 5px 20px 5px auto;
  }

  .auth-form {
    width: 100%;
  }

  .base-sidenav {
    margin: 0;
  }

  .base-sidenav span {
    font-size: 40px;
  }
}
