{% extends 'navs/base-nav.html' %} {% load static %} {% block title %} <title>CVBuild - Forgot Password</title> {% endblock %}
{% block content %}
<div class="container">
  <form method="post" class="auth-form">
    {% csrf_token %}
    <div class="form-top">
      <p>Change Password</p>
    </div>
    <div class="form-input-container">
          <span><label for="old_password">Old Password</label> <span class="form-required-field">*</span></span>
          <p class="form-erros">{{ form.old_password.errors }}</p>
          <input type="password" name="old_password" required id="id_old_password" />
        </div>

        <div class="form-input-container">
          <span><label for="new_password1">New Password</label> <span class="form-required-field">*</span></span>
          <p class="form-errors">{{ form.new_password1.errors }}</p>
          <input
            type="password"
            name="new_password1"
            class="form-control"
            maxlength="100"
            required
            id="id_new_password1"
          />
        </div>

        <div class="form-input-container">
         <span><label for="new_password2">Confirm Password</label> <span class="form-required-field">*</span></span>
          <p class="form-errors">{{ form.new_password2.errors }}</p>
          <input
            type="password"
            name="new_password2"
            class="form-control"
            maxlength="100"
            required
            id="id_new_password2"
          />
        </div>

    <button class="form-btn btn" type="submit">Set Password</button>
  </form>
</div>

<script>
  const pword1 = document.querySelector("#id_new_password1");
  const pword2 = document.querySelector("#id_new_password2");
  if (pword1 && pword2) {
    const form = document.querySelector("form");
    form.addEventListener("mouseover", e => {
      const btn = form.querySelector("button");
      pword2.addEventListener("keyup", e => {
        if (pword2.value !== pword1.value) {
          pword2.previousElementSibling.textContent = "Password does not match";
          btn.style.cursor = "not-allowed";
          btn.style.pointerEvents = "none";
        } else {
          pword2.previousElementSibling.textContent = "";
          btn.style.cursor = "pointer";
          btn.style.pointerEvents = "all";
        }
      });
    });
  }
</script>
{% endblock %}