{% extends 'navs/base-nav.html' %} {% load static %} {% block title %} <title>CVbuild - Reset Password</title> {% endblock %}
{% block content %}
<div class="container">
  <form action="" method="post" class="auth-form">
    {% csrf_token %}
    <div class="form-top">
      <p>Reset Password</p>
    </div>
    <div class="form-input-container">
      <span><label for="email">Email</label> <span class="form-required-field">*</span></span>
      <p class="form-errors">{{ form.email.errors }}</p>
      <input type="text" name="email" id="email" placeholder="johndoe@gmail.com" />
    </div>

    <button class="form-btn btn" type="submit">Send E-mail</button>
  </form>
  <div class="form-bottom">
    <a href="{% url 'login' %}">Login</a>
  </div>
</div>

{% endblock %}
