{% extends 'navs/base-nav.html' %} {% load static %} {% block title %} <title>CVBuild - Edit Account</title>
{% endblock %} {% block content %}
<div class="container">
  <form action="{% url 'user_profile' %}" method="post" class="auth-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-top">
      <p>User Profile</p>
    </div>
    
    <div class="form-input-container">
      <span><label for="first_name">First Name</label> <span class="form-required-field">*</span></span>
      <p class="form-errors">{{ userprofileform.first_name.errors }}</p>
       <!-- <input type="text" name="first_name" id="first_name" placeholder="John"
       {% if user_profile.first_name %} value="{{user_profile.first_name}}" {% endif %}
       /> -->
       {{ userprofileform.first_name }}
    </div>

    <div class="form-input-container">
      <span><label for="last_name">Last Name</label> <span class="form-required-field">*</span></span>
      <p class="form-errors">{{ userprofileform.last_name.errors }}</p>
      <!-- <input type="text" name="last_name" id="last_name" placeholder="Doe"
        {% if user_profile.last_name %} value="{{user_profile.last_name}}" {% endif %}
      /> -->
      {{ userprofileform.last_name }}
    </div>

    <button class="form-btn btn" type="submit">Update</button>

    <div class="flex-spc-bwn center">
      <a class="btn bg-dark-btn" href="{% url 'change_password' %}">Change Password</a>
      <a class="btn bg-dark-btn" href="{% url 'delete_account' %}">Delete Account</a>
    </div>
  </form>
</div>

{% endblock %}
