{% extends 'base.html'%} {% block title %} Change Password {% endblock %} {% block content%}
<br />
<h2>Change Password</h2>
<br />
<form action="{% url 'change_password' %}" method="post">
  {% csrf_token %} {{ form.as_p }}
  <button class="btn btn-primary">Update</button>
</form>
<br />
<div style="margin-top: 10px; display: flex; justify-content: space-around; font-size: 18px">
  <div>Developed by <a href="https://github.com/chryz-code" target="_blank" rel="noopener noreferrer">CODE</a></div>
  <a href="https://github.com/chryz-code/Resume-Portfolio-Builder"
    ><i style="font-size: 20px" class="fa fa-github"></i
  ></a>
</div>
{% endblock %}
