{% extends 'base.html'%}
{% block title %} Edit Account {% endblock %}
{% block content%}
<br>
<h2>Edit Account</h2>
<br><br>

{% if user.is_authenticated %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}

      
      <br/>
      <button style="margin-left: 10px;"  class="btn btn-secondary" type="submit">Update</button>
      </form>
      <span style="float: right; margin-top: 15px; margin-right: 30px; margin-bottom: 15px;" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">Delete Account</span>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p><strong>{{ user.username|title }}</strong>, are you sure you want to delete ?</p>
                  </div>
                  <div class="modal-footer">
                    <div class="form-group">
                      <form action="{% url 'user_delete' %}" method="POST">
                          {% csrf_token %}
                          <input style="margin-bottom: 20px;" class="btn btn-danger" type="submit" value="delete">
                      </form>
                  </div>
                  </div>
                </div>
              </div>
            </div>
{% else %}
  <p style="text-align: center; font-size: medium;">You are not permitted to reach this page</p>
{% endif %}
{% endblock %}
