{% extends 'base.html'%} {% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} Log in {% endblock %}</title>
  </head>
  <body>
    {% block content%}
    <br />
    <h2 style="text-align: center">Welcome to Resume-Portfolio Builder</h2>

    <div style="font-weight: 500; font-size: larger; text-align: center; margin-top: 20px">
      Build up your resume and get a portfolio site
    </div>
    <br /><br />
    <h4 style="text-align: center">Login</h4>
    {% if form.errors %}
    <p style="font-size: 20px; margin-left: 25px">Your username and password did not match. Please try again.</p>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label id="login-label" for="username" class="form-label">Username:</label>
        <input id="login-form" type="text" class="form-control" name="username" id="username" placeholder="Username" />
      </div>
      <div class="mb-3">
        <label id="login-label" for="password" class="form-label">Password:</label>
        <input
          id="login-form"
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <div id="login-btn">
        <input class="btn btn-secondary" type="submit" value="Login" />
      </div>
    </form>
    <h5 style="text-align: center; margin-bottom: 0">
      Yet to have an account? <a href="{% url 'register' %}">Sign up</a>
    </h5>
    <div style="margin-top: 50px; display: flex; justify-content: space-around ; font-size: 25px;">
      <div>Developed by <a href="https://github.com/chryz-code" target="_blank" rel="noopener noreferrer">CODE</a></div>
      <a href="https://github.com/chryz-code/Resume-Portfolio-Builder"><i style="font-size: 40px;" class="fa fa-github"></i></a>
    </div>
    {% endblock %}
  </body>
</html>
