{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>  {% block title %} Sign in {% endblock %}</title>
  </head>
  <body>
    {% block content%}
    <br/>
    <h2 style="text-align:center;">Welcome to Resume Builder</h2>

    <div style="font-weight:500 ; font-size: larger; text-align: center; margin-top: 20px;">
        Build up your resume and get a generated link for a portfolio-resume and your resume.pdf
    </div>
    <br>
    <h4 style="text-align:center;">Sign Up</h4>
    <br>
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="login-btn">
          <input class="btn btn-secondary" type="submit" value="Sign in">
        </div>
      </form>
      <br>
      <h5 style="text-align: center; margin-bottom: 40px;">Already had an account? <a href="{% url 'login' %}">Log in</a></h5>
    {% endblock %}
  </body>
</html>
